{%extends 'def_goods/base.html'%}
{% load static %}
{%block head%}
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0">
{%endblock head%}
{%block middle%}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="{% url 'goods:list' 1 1 1 %}" class="fruit">新鲜水果</a></li>
                    <li><a href="{% url 'goods:list' 2 1 1 %}" class="seafood">海鲜水产</a></li>
                    <li><a href="{% url 'goods:list' 3 1 1 %}" class="meet">猪牛羊肉</a></li>
                    <li><a href="{% url 'goods:list' 4 1 1 %}" class="egg">禽类蛋品</a></li>
                    <li><a href="{% url 'goods:list' 5 1 1 %}" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="{% url 'goods:list' 6 1 1 %}" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'goods:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="{% url 'goods:index' %}">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:list' typeinfo.id 1 1 %}">{{ttitle}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in news %}
					<li>
						<a href="{% url 'goods:detail' goods.id %}"><img src="/static/{{goods.gpic}}"></a>
						<h4><a href="{% url 'goods:detail' goods.id %}">{{goods.gname}}</a></h4>
						<div class="prize">￥{{goods.gprice}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:list' typeinfo.id 1 1 %}" {% if sort == "1" %} class="active"{% endif %}>默认</a>

                <a href="{% url 'goods:list' typeinfo.id 1 2 %}" {% if sort == "2" %} class="active"{% endif %}>价格</a>

				<a href="{% url 'goods:list' typeinfo.id 1 3 %}" {% if sort == "3" %} class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {%for goods in page %}
				<li>
					<a href="{% url 'goods:detail' goods.id %}"><img src="/static/{{goods.gpic}}"></a>
					<h4> <a href="{% url 'goods:detail' goods.id %}">{{goods.gname}}</a> </h4>
					<div class="operate">
						<span class="prize">￥{{goods.gprice}}</span>
						<span class="unit">{{goods.gprice}}/{{goods.gdanwei}}</span>
						<a href="javascript:;" class="add_goods" title="加入购物车" id="{{goods.id}}" ></a>
					</div>
				</li>
                {%endfor%}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				<a href="{% url 'goods:list' typeinfo.id  page.previous_page_number sort %}"><上一页</a>
                {% endif %}

                {% for pindex in paginator.page_range %}
                {% if pindex == page.number %}
				<a href="#" class="active">{{pindex}}</a>
                {%else%}
				<a href="{% url 'goods:list' typeinfo.id pindex sort %}">{{pindex}}</a>
                {% endif %}
                {% endfor %}

                {% if page.has_next %}
				<a href="{% url 'goods:list' typeinfo.id  page.next_page_number sort %}"><下一页</a>
                {% endif %}
			</div>
		</div>
	</div>

    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
    $(function () {
        // 异步
        // 先加载购物车已有的商品数量
		if($(".login_btn").attr("title") === "success"){
//			alert("我登录啦");
		    if (parseInt($('#show_count').text()) === 0){
            	$.get("{% url 'car:add_to_car' 0 0 %}", function (data) {
                	$('#show_count').html(data.count);
            	});
        	}
        	else{}
        // 异步加载点击量
            $('.add_goods').click(function(){
                temp = parseInt($(this).attr("id"));
                $.get("/car/add_to_car"+temp+"_1",function (data) {
                    $('#show_count').html(data.count);
                });
            });
		}
    })
	</script>
{%endblock middle%}